* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f3f3f3;
    color: #222;
}

/* Header */
.header {
    background: #0959a5;
    color: #fff;
    padding: 1rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.nav a:hover {
    color: #ff7a59;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5%;
    align-items: center;
    gap: 2rem;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    from { color: #ff6347; }
    to { color: #0959a5; }
}

.hero-img img {
    width: 230px;
    border-radius: 100%;
}

/* Sections */
section {
    padding: 3rem 5%;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

.card {
    background: #0959a5;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}
.card:hover {
    transform: translateY(-8px);
    background: #ff7a59;
}

/* Projects */
.project-card {
    background-color: white;
    width: 60%;
    margin: 20px auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.project-card h3 {
    color: #0e0f0f;
}

/* Contact */
form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e9f0fa;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
input, textarea {
    padding: .8rem;
    border-radius: 5px;
    border: 1px solid #0959a5;
}

button {
    padding: .8rem;
    background: #0959a5;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
button:hover {
    background: #ff7a59;
    transform: scale(1.03);
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem;
    background: #0959a5;
    color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}
